.blogPage {
 background-color: #1e1e1e;
  color: #f8f9fa;
  padding-top: 80px;
  font-family: Arial, sans-serif;
}

.pageTitle {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color: #ff00ff;
  /* color: linear-gradient(90deg, #ff00ff, #d5006d); */
}

.pageSubtitle {
  text-align: center;
  color: #b3b3b3;
  font-size: 18px;
  margin-bottom: 20px;
}

.blogCard {
  background: #333;  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.blogCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
}

.blogImage {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.blogImage:hover {
  transform: scale(1.05);
}

.blogContent {
  padding: 20px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blogTitle {
  font-size: 24px;
  font-weight: bold;
  color: #ff00ff; /* Magenta color for titles */
  margin-bottom: 10px;
}

.blogDescription {
  font-size: 16px;
  color: #b3b3b3; /* Lighter gray for description */
  margin-bottom: 20px;
}

.blogMeta {
  font-size: 14px;
  color: #8c8c8c; /* Medium gray for metadata */
  margin-bottom: 20px;
  padding: 10px 0;
  border-top: 1px solid #444;
}

.readMoreButton {
  display: inline-block;
  background: linear-gradient(90deg, #ff00ff, #d5006d);
  /* background-color: #ff00ffa4; Magenta background */ 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.readMoreButton:hover {
  background: linear-gradient(90deg, #d5006d, #ff00ff);
  transform: scale(1.05);
}

/* Modal Styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Darker overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 80vw;
  max-width: 900px;
  background-color: #2c2c2c; /* Dark modal background */
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  max-height: 80vh;
  position: relative;
  top: 5vh;
}

.modalContent {
  position: relative;
  text-align: left;
  color: #f8f9fa; /* Light text color in modal */
}

.closeButton {
  position: absolute;
  top: -30px; 
  right: -20px; 
  background: none;
  border: none;
  font-size: 30px; 
  color: #ff00ff;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1001; 
}

.closeButton:hover {
  color: #d5006d;
}

.modalTitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ff00ff; /* Magenta color for modal title */
}

.modalSubtitle {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ccc; /* Lighter gray for modal subtitle */
}

.modalMeta {
  font-size: 14px;
  color: #999; /* Medium gray for modal metadata */
  margin-bottom: 20px;
}

.modalText {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.modalImage {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.modalImage:hover {
  transform: scale(1.03);
}

.imageGallery {
  margin-top: 30px;
  text-align: center;
}

.imageGallery img {
  max-width: 100%;
  width:auto;
  height: auto;
  margin: 10px 0;
}

.imageGallery h4 {
  font-size: 1.2rem;
  margin-top: 20px;
}
