.events {
  font-family: 'Roboto', sans-serif;
  background: url('./event.jpg') no-repeat center center/cover;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

.events::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(23, 37, 90, 0.8), rgba(201, 64, 101, 0.8));
  z-index: 1;
}

.mainContent {
  position: relative;
  z-index: 2;
  padding: 2rem;
  color: #000; 
}

.title {
  color: #f8f2f2; 
  text-align: center;
  margin-bottom: 2rem;
}

.upcoming, .past, .podcastTitle {
  color: #f1eded; 
  margin-top: 2rem;
}

.eventList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  z-index: 2;
}

.eventCard {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.eventCard img {
  width: 100%;
  height: auto; 
  object-fit: cover;
}

.eventCard h2 {
  padding: 1rem;
  margin: 0;
  color: #000; 
}

.eventCard p {
  padding: 0 1rem 1rem;
  color: #333; 
  text-align: left;
}

.eventCard ul {
  text-align: left;
  padding-left: 1rem;
}

.centeredText {
  text-align: center;
  padding: 0 1rem; 
}

.eventCard .btn {
  display: inline-block;
  background-color: #007bff !important;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 0 1rem 1rem;
  transition: background-color 0.2s ease-in-out;
}

.eventCard .btn:hover {
  background-color: #0056b3 !important;
  color: #f7f7f7 !important;
}

@media (max-width: 768px) {
  .eventList {
    flex-direction: column;
    align-items: center;
  }

  .eventCard {
    max-width: 100%;
  }

  .eventCard img {
    height: 180px; 
  }
}

header {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
