.eventPage {
    position: relative;
    overflow: hidden;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.content {
    position: relative;
    z-index: 2;
    color: #f5f5f5;
    margin-top: 80px; 
    padding-top: 40px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.eventDetails, .eventIntro, .eventJourney, .eventHighlights, .eventRewards, .eventRules, .eventSignificance {
    margin-bottom: 40px;
}

.eventDetails p, .eventIntro p, .eventJourney p, .eventHighlights ul, .eventRewards ul, .eventRules ul, .eventSignificance p {
    font-size: 18px;
}

.eventHighlights ul, .eventRewards ul {
    list-style-type: none;
    padding: 0;
}

.eventHighlights li, .eventRewards li {
    margin-bottom: 15px;
}

.eventRules h4 {
    margin-top: 20px;
}
